@use 'theme';
@use 'util';

$card-width-min: 320px;
$card-width-max: 560px;
$card-height: 320px;
$card-gap: 100px;
$thumbnail-height: 320px;


.card-container {
	display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(Min($card-width-min, 100%), 1fr));
	grid-template-columns: repeat(auto-fit, minmax(Min($card-width-min, 100%), 1fr));
	grid-gap: $card-gap;

	justify-items: center;
	justify-content: center;

	margin: util.responsive(2em) 0;
	padding: 0;
}

.card {
	display: grid;
	grid-template-rows: max-content max-content 1fr;
	grid-template-columns: [full-start]1em [main-start]1fr [main-end]1em [full-end];
	max-width: $card-width-max;

	// padding: 1em;
	border: solid 2px theme.$secondary-fg;
	border-radius: 10px;

	background: theme.$secondary-bg;

	overflow: hidden;

	& > * {
		grid-column: main;
	}

	.thumbnail {
		grid-column: full;
		border-bottom: solid 2px theme.$secondary-fg;
		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 1/1;
			object-fit: cover;
		}
	}

	.name, .about {
		text-align: center;
	}
}

/*

.card-container {
	display: flex;
	flex-wrap: wrap;

	margin-top: 2em;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;

	flex-grow: 1;

	margin: .1em;
	padding: 0.5em;
	// border-left: solid 1px $fg-primary;

	// &:last-child {
	// 	border-right: solid 1px $fg-primary;
	// }

	main {
		margin-top: 1.5em;
		width: 100%;
		max-width: 320px; // is this what we want?

		.title {
			text-align: center;
			font-size: 1.5rem;
		}
	}

	.thumbnail {
		flex-grow: 1;
		flex-shrink: 1;
		max-width: 320px;
		max-height: 320px;

		img {
			height: 100%;
			width: 100%;
			aspect-ratio: 1/1;
			object-fit: cover;
			vertical-align: middle;
		}
	}
}


ul.card-container-horiz {
	padding-left: 0;
}

.card-container-horiz {
	flex-direction: column;

	li:nth-child(odd) {
		background: theme.$secondary-bg;
	}

	.card {
		flex-direction: row;

		// border-top: solid 1px $fg-primary;

		&:last-child {
			// border-bottom: solid 1px $fg-primary;
		}

		.thumbnail {
			max-width: 160px;
			max-height: 160px;
		}

		main {
			margin: 1em 1.5em;
		}
	}
}

*/
