@use 'theme';
@use 'typography';
@use 'util';

$card-width-min: 300px;
$card-width-max: 560px;
$card-height: 320px;
$card-gap: max(20px, min(9vw - 30px, 60px));
$thumbnail-height: 320px;


.card-container {
	display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(Min($card-width-min, 100%), 1fr));
	grid-template-columns: repeat(auto-fit, minmax(Min($card-width-min, 100%), 1fr));
	grid-gap: $card-gap;

	justify-items: center;
	justify-content: center;

	margin: 0;
	margin-top: 1em;
	padding: 0;
}

.card {
	display: grid;
	grid-template-rows: max-content max-content 1fr;
	grid-template-columns: [full-start]1em [main-start]1fr [main-end]1em [full-end];

	max-width: $card-width-max;
	// allows us to use justify-items: center with stretch behaivor
	width: 100%;

	// padding: 1em;
	border: solid 2px theme.$secondary-fg;
	border-radius: 10px;

	background: theme.$secondary-bg;

	overflow: hidden;

	& > * {
		grid-column: main;
	}

	.thumbnail {
		grid-column: full;
		border-bottom: solid 2px theme.$secondary-fg;
		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 1/1;
			object-fit: cover;
		}
	}

	h3 {
		font-size: typography.type-scale(1);
		// margin-top: 1em;
		// margin-bottom: 0.5em;
		margin-block: 0.8em;
	}

	p {
		// margin-block: 1em;
		margin: 0;
		margin-bottom: 1em;
	}

	.name, .about {
		text-align: center;
	}
}

ul.card-container-horiz {
	padding-left: 0;
}

.card-container.rows {
	grid-template-columns: 1fr;
	// grid-auto-rows: minmax(180px, auto);
	grid-auto-rows: 180px;
	grid-gap: 20px;

	justify-items: stretch;
	justify-content: stretch;


	.card {
		max-width: none;
		grid-template-columns:
			[full-start thumbnail-start] 180px
			[thumbnail-end name-start] 1em
			[main-start] 1fr
			[main-end name-end full-end];
		grid-template-rows: 
		[full-start] 1fr
		1fr
		[full-end];
		grid-auto-flow: row;

		justify-items: left;
		align-items: center;
		column-gap: 2em;

		& > * {
			grid-column: main;
		}

		.name {
			grid-column: name;
			margin-block: 0;
			align-self: end;
		}

		.thumbnail {
			grid-row: full;
			grid-column: thumbnail;

			border-bottom: none;
			border-right: solid 2px theme.$secondary-fg;
		}
	}
}

/*

.card-container {
	display: flex;
	flex-wrap: wrap;

	margin-top: 2em;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;

	flex-grow: 1;

	margin: .1em;
	padding: 0.5em;
	// border-left: solid 1px $fg-primary;

	// &:last-child {
	// 	border-right: solid 1px $fg-primary;
	// }

	main {
		margin-top: 1.5em;
		width: 100%;
		max-width: 320px; // is this what we want?

		.title {
			text-align: center;
			font-size: 1.5rem;
		}
	}

	.thumbnail {
		flex-grow: 1;
		flex-shrink: 1;
		max-width: 320px;
		max-height: 320px;

		img {
			height: 100%;
			width: 100%;
			aspect-ratio: 1/1;
			object-fit: cover;
			vertical-align: middle;
		}
	}
}


ul.card-container-horiz {
	padding-left: 0;
}

.card-container-horiz {
	flex-direction: column;

	li:nth-child(odd) {
		background: theme.$secondary-bg;
	}

	.card {
		flex-direction: row;

		// border-top: solid 1px $fg-primary;

		&:last-child {
			// border-bottom: solid 1px $fg-primary;
		}

		.thumbnail {
			max-width: 160px;
			max-height: 160px;
		}

		main {
			margin: 1em 1.5em;
		}
	}
}

*/
