@use 'theme';
@use 'util';
@use 'typography';

.product-group {
	padding-top: typography.responsive-linear(1em, 3em);
	// .body {
		// margin: 2em;
	// }
	grid-template-rows:
		[gallery-start body-start] auto
		[gallery-end body-end];

	grid-template-columns:
	[full-start] minmax(0, 1fr)
	[main-start body-start] minmax(320px, theme.$content-max-width*0.45)
	[body-end gallery-start]minmax(320px, theme.$content-max-width*0.55)
	[gallery-end main-end] minmax(0, 1fr)
	[full-end];

	@media (max-width: theme.$content-max-width) {
		grid-template-rows:
		[gallery-start] auto
		[gallery-end body-start] auto
		[body-end];

		grid-template-columns:
		[full-start] minmax(0, 1fr)
		[main-start gallery-start body-start] minmax(0, theme.$content-max-width)
		[main-end gallery-end body-end] minmax(0, 1fr)
		[full-end];
	}

	grid-gap: typography.responsive-linear(0em, 2em);
;

	.image-gallery {
		grid-column: gallery;
		// grid-column: 3/4;
		grid-row: gallery;
	}
	.body {
		grid-column: body;
		// grid-column: 2/3;
		grid-row: body;
	}
}

.image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;


	height: 100%;

	// border-bottom: solid 1px theme.$primary-fg;
	padding-bottom: 1em;
	.image {
		flex: 1 1 50px;
		min-width: 100px;
		min-height: 100px;
		// max-width: 50%;
		// max-height: 320px;

		img {
			height: 100%;
			width: 100%;
			aspect-ratio: 1/1;
			object-fit: cover;
			vertical-align: middle;
		}

		&:first-child {
			flex: auto;
			// max-width: 100%;
			// TODO: give this responsive height without causing overflow
			// height: 460px;
			// max-height: 460px;
			// max-width: none;
			img {
				aspect-ratio: unset;
				object-fit: contain;
			}
		}
	}
}

.circle {
	display: inline-block;
	background: white;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: solid 1px theme.$main-fg;
	margin-right: 0.5em;
}

.multi-circle {
	display: inline-block;
	margin-right: 0.5em;
	.semi-circle-top {
		display: block;
		background: white;
		width: 24px;
		height: 12px;
		border-radius: 13px 13px 0 0;
		border: solid 1px theme.$main-fg;
	}

	.semi-circle-bottom {
		display: block;
		background: white;
		width: 24px;
		height: 12px;
		border-radius: 0 0 13px 13px;
		border: solid 1px theme.$main-fg;
	}
}


.offers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.itemOffered {
		display: flex;
		justify-content: center;
		align-items: center;

		border: solid 1px theme.$primary-fg;
		flex-shrink: 1;
		padding-inline: 10px;
		padding-block: 20px;

		p {
			margin: 0;
		}

	}

	.offer.selected .itemOffered {
		border: solid 3px theme.$main-fg;
		padding-inline: 10px - 2px;
		padding-block: 20px - 2px;
	}
}

.store-section {
	dl {
		dt {
			display: inline-block;
			min-width: 8em;
			&::after {
				content: ':';
			}
		}

		dd {
			display: inline;
			margin: 0;
			&::after {
				display: block;
				content: '';
			}
		}
	}
}

.chess-etc-set-colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	--boxColor: #ffffff;
	--lidColor: #ffffff;
	--chessLightColor: #ffffff;
	--chessDarkColor: #000000;
	--checkersLightColor: #ffffff;
	--checkersDarkColor: #000000;
	--tangramsColor: #000000;
	--diceColor: #000000;

	--checkerboardLightColor: #ffffff;
	--checkerboardDarkColor: #000000;

	// background: #777777;

	& > div {
		margin: 0.5em 0;
	}

	.lid {
		display: flex;
		max-width: 320px;
		max-height: 300px;
		width: 100%;
		min-width: 0;
		min-height: 0;
		aspect-ratio: 320/300;
		margin: 10px;
		padding: 30px;
		background: var(--lidColor);

		&::before, &::after {
			width: 10px;
			// height: 300px;
			height: calc(60px + 100%);
			margin-top: -30px;
			content: "";
			background: var(--boxColor);
			filter: invert(15%);
		}

		&::before {
			margin-left: -30px;
			margin-right: 30px;
		}

		&::after {
			margin-left: 30px;
			margin-right: -30px;
		}

		.checkerboard {
			width: 100%;
			height: 100%;
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(8, 1fr);

			.square {
				padding: 0;
			}

			div:nth-child(16n+1),
				div:nth-child(16n+3),
				div:nth-child(16n+5),
				div:nth-child(16n+7),
				div:nth-child(16n+10),
				div:nth-child(16n+12),
				div:nth-child(16n+14),
				div:nth-child(16n+16) {
				background: var(--checkerboardLightColor);
			}

			div:nth-child(16n+2),
				div:nth-child(16n+4),
				div:nth-child(16n+6),
				div:nth-child(16n+8),
				div:nth-child(16n+9),
				div:nth-child(16n+11),
				div:nth-child(16n+13),
				div:nth-child(16n+15) {
				background: var(--checkerboardDarkColor);
			}

			// this overrides the nth-child rules.
			// @for $i from 0 to 64 {
			// 	div.sq-#{$i} {
			// 		background: var(--sq-#{$i}-color);
			// 	}
			// }
		}
	}

	.box {
		max-width: 300px;
		max-height: 300px;
		width: 100%;
		min-width: 0;
		min-height: 0;
		aspect-ratio: 1;
		position: relative;

		& > div {
			position: absolute;
		}

		.box-bg {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;

			background: var(--boxColor) !important;
			filter: invert(15%);
		}

		.chess-light svg path {
			fill: var(--chessLightColor) !important;
		}

		.chess-dark svg path {
			fill: var(--chessDarkColor) !important;
		}

		.checkers-light svg path {
			fill: var(--checkersLightColor) !important;
		}
		.checkers-dark svg path {
			fill: var(--checkersDarkColor) !important;
		}
		.tangrams svg path {
			fill: var(--tangramsColor) !important;
		}
		.dice svg {
			rect {
				fill: var(--diceColor) !important;
			}
			path {
				fill: var(--diceColor) !important;
				filter: invert(100%);
			}
		}
	}

	/*
.box {
width: 300px;
height: 300px;
position: relative;

background: var(--boxColor);
.chess-pieces {
position: absolute;
& > div {
margin: 0.5em 0;
}
.pawns, .pieces {
display: flex;
justify-content: center;

height: calc(300px / 8);
width: 300px;

& > div {
flex-grow: 1;
}
img, svg {
width: 100%;
height: auto;
max-height: 30px;
}

.pawn {
img, svg {
max-height: 25px;
}
}
}

.chess-pieces-light > div {
img {
filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0) brightness(100%) contrast(100%);
}

svg {
path {
fill: var(--chessLightColor) !important;
}
}
}

.chess-pieces-dark > div {
img {
filter: brightness(0) saturate(100%);
}

svg {
path {
fill: var(--chessDarkColor) !important;
}
}
}
}
}
	*/
}
