@use 'sanitize.css/sanitize';
@use 'theme';
@use 'core';
@use 'card';
@use 'store';
@use 'util';

section.intro {
	@include util.full-width-grid;
	background: theme.$secondary-bg;

	padding-top: 2em;
	padding-bottom: util.responsive(4em);

	h1 {
		color: theme.$accent-fg;
		background: none;
		font-size: util.responsive(10rem);
		font-weight: 300;
		margin: 0;
		padding: 0;
		text-align: left;

		@media(max-width: 799px) {
			// font-size: 22vw;
		}
	}

	p {
		font-size: util.responsive(3rem);
		font-weight: 300;
		margin: 0;
		padding: 0;
		text-align: right;
	}
}

.site-logo {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0) brightness(100%) contrast(100%);
}
