<header>
		<a href="/"><picture class="site-logo"><img src="/elliot-zone-logo.svg" alt="{{_site.title}}"></picture></a>
		<nav>
			{{#each _site.navLinks}}
				{{hal-link @key this}}
			{{/each}}
		</nav>
	</div>
</header>
