<header>
		<a href="/"><img class="site-logo" src="/elliot-zone-logo.svg" alt="{{_site.title}}"></a>
		<nav>
			{{#each _site.navLinks}}
				{{hal-link @key this}}
			{{/each}}
		</nav>
	</div>
</header>
