<h1>{{name}}</h1>
{{#if description}}<p>{{description}}</p>{{/if}}
{{#if (eq itemListOrder "Unordered")}}
<ul class="card-container rows item-list">
{{else}}
<ol class="card-container rows item-list">
{{/if}}
	{{#each itemListElement}}
		{{> includes/card.hbs this}}
	{{/each}}
</ol>
