<div class="under-construction-page">
	{{!-- <div class="elliot-zone-logo">{{> includes/elliot-zone-logo.svg }}</div> --}}
	<div class="elliot-zone-logo">
		<img src="/elliot-zone-logo.svg">
	</div>
	<div class="under-construction"><h1>{{body}}</h1></div>
	<section class="coming-soon">
		<h2>chess etc. online ordering coming soon!</h2>
		<div class="chess-etc-image">
			<img src="/store/chess-etc/set-clean.jpg">
		</div>
	</section>
</div>
